<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/styles/about.css'/>
    <title>Document</title>
</head>
<body>
    <h1>Facts about pink Floyd</h1>
    <ul>
        <li>The names Pink and Floyd came from two of Syd Barrett’s 
        favourite Carolina bluesmen, Pink Anderson and Floyd Council, which he merged together and voila!</li>

        <li>People often assumed Pink Floyd was the name of a person in the band, especially stupid record 
        industry people. The band sent this up with the line “which one’s Pink?” on the ‘Wish You Were Here’ song ‘Have A Cigar’ in 1975.</li>
        
        <li>Barrett famously turned up at Abbey Road when Roger Waters was recording the vocal for ‘Shine On You Crazy Diamond’ about him. 
        He’d put on excessive weight and had shaved his eyebrows and lost most of his hair. His appearance was so disturbing 
        that Waters and Gilmour reportedly cried.</li>

    </ul>
    
    
</body>
</html>