<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/styles/style-home.css'/>
    <title>Home</title>
</head>
<body>
    <div>
        <a href="/views/about.html">About</a>
        <a href="/views/works.html">Works</a>
    </div>    
    <h1>Pink Floyd</h1>

    <h5>The best band ever!</h5>
    <!--<img src="/images/pink-floyd-triangle.jpg" alt="Pink Floyd Art">-->
    
</body>
</html>